# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out

# Folders
build/
bin/

# IDE and Editor files
.vscode/
*.sdf
*.opensdf
*.suo
*.ncb
*.sln
*.suo
*.vcproj
*.vcxproj
*.vcxproj.filters
*.user
*.user.*
